## for osx
.DS_Store
geckodriver.log

# ignore directory and contents
/__pycache__
/venv
/scratch
/static/uploads
/.vscode
recipe

# this file is credentials for google api - it's created after logging in w/ tf@g account
token.json
