{% extends 'nav_buttons.html' %}


{% block header %}
<style>
  .filter_tag_btn, .button_get_test, .button_post_test {
    margin: 1px;
  }
</style>
{% endblock %}


{% block content %}
<script>      
  var recipes = {{ recipes|tojson }};       // convert info using tojson filter      
  console.log(`recipe_t JS ${recipes[0]} - inline CONCLUDED`);  // sanity check      
  var data = {{ data|tojson }};       // convert info using tojson filter      
  console.log(`data JS ${data.length} - inline CONCLUDED`);  // sanity check      
</script>
  
<h1>{{headline}}</h1>

<h3>INPUT WAS [ {{data['data']}} ]</h3>

<hr>
<div class="container-fluid padding">
        
    <h3>Form send string</h3>

    <form action={{url_for('buttons_inputs')}} method='POST'> <!-- POST method - NOT visible in url -->
        FORM DISPLAY TEXT POST<input type="text" name='var_in_url_p'>
        <button type="submit" value='post_2' name='button_p'>POST</button>
    </form>

    <form action={{url_for('buttons_inputs')}} method='GET'> <!-- default method - visible in url -->
        FORM DISPLAY TEXT GET<input type="text" name='var_in_url_g'>
        <button type="submit" value='get_1' name='button_g'>GET</button>
    </form>

</div>
<hr>
<form action={{url_for('buttons_inputs')}} method='GET' >
    <div class="container-fluid padding button_get_test">
        <!-- https://getbootstrap.com/docs/4.0/components/button-group/ -->
        <h3>Button ARRAY send number</h3>        
            <button class="btn btn-dark" type="submit" value='0' name='btn_arr_0'>A</button>
            <button class="btn btn-dark" type="submit" value='1' name='btn_arr_1'>B</button>
            <button class="btn btn-dark" type="submit" value='2' name='btn_arr_2'>C</button>
            <button class="btn btn-dark" type="submit" value='3' name='btn_arr_3'>D</button>
        
        GET: YOU PRESSED {{ data['button_keypad_GET'] }}
    </div>
</form>
<form action={{url_for('buttons_inputs')}} method='POST'>
    <div class="container-fluid padding button_post_test">
        <!-- https://getbootstrap.com/docs/4.0/components/button-group/ -->    
            <button class="btn btn-dark" type="submit" value='0' name='btn_arr_0p'>L</button>
            <button class="btn btn-dark" type="submit" value='1' name='btn_arr_1p'>M</button>
            <button class="btn btn-dark" type="submit" value='2' name='btn_arr_2p'>N</button>
            <button class="btn btn-dark" type="submit" value='3' name='btn_arr_3p'>O</button>
        
        POST: YOU PRESSED {{ data['button_keypad_POST'] }}
    </div>
</form>

<hr>
<form id='form_filter_tags' action={{url_for('buttons_inputs')}} method='POST'>
  <div class="container">
      <div id="main" class="card card-body">
          <div class="input-group mb-3">
            <input name='tag_btn_create' type="text" class="form-control" placeholder="Enter new tag . . ." aria-label="Personal tags" aria-describedby="basic-addon2">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="submit">CREATE TAG</button>
            </div>
          </div>    
          AVAILABLE FILTERS:
          <div class="container-fluid padding">
              {% for tag in data['tags'] %}
              <button id='tag_btn_id_{{tag}}' name='tag_btn_{{tag}}' value='{{tag}}' class='btn btn-outline-secondary filter_tag_btn'>{{tag}}</button>
              {% endfor %}
          </div>
          SELECTED: {{data['chosen_tag_filters_string']}}
      </div>

  </div>
</form>

<hr>  

<div class="input-group mb-3">
  <div class="input-group-prepend">
    <button type="button" class="btn btn-outline-secondary">TAGS</button>
    <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span class="sr-only">Toggle Dropdown</span>
    </button>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#">VEGGIE</a>
      <a class="dropdown-item" href="#">NO BEEF</a>
      <a class="dropdown-item" href="#">Something else here</a>
      <div role="separator" class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">Separated link</a>
    </div>
  </div>
  <input type="text" class="form-control" aria-label="Text input with segmented dropdown button">
</div>

<div class="input-group">
  <input type="text" class="form-control" aria-label="Text input with segmented dropdown button">
  <div class="input-group-append">
    <button type="button" class="btn btn-outline-secondary">Action</button>
    <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span class="sr-only">Toggle Dropdown</span>
    </button>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
      <div role="separator" class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">Separated link</a>
    </div>
  </div>
</div>

<hr>

<div class="input-group mb-3">
  <div class="input-group-prepend">
    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</button>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
      <div role="separator" class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">Separated link</a>
    </div>
  </div>
  <input type="text" class="form-control" aria-label="Text input with dropdown button">
</div>

<div class="input-group">
  <input type="text" class="form-control" aria-label="Text input with dropdown button">
  <div class="input-group-append">
    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</button>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
      <div role="separator" class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">Separated link</a>
    </div>
  </div>
</div>

<hr>

<div class="container-fluid padding">
    <div class="row padding">
        <!--  -->
        <h3>Radio Button send number</h3>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <input type="checkbox" aria-label="Checkbox for following text input">
            </div>
          </div>
          <input type="text" class="form-control" aria-label="Text input with checkbox">
        </div>
        
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text">
            <input type="radio" aria-label="Radio button for following text input">
            </div>
          </div>
          <input type="text" class="form-control" aria-label="Text input with radio button">
        </div>        
    </div>
</div>
<script src='static/button_experiments.js'></script>


{% endblock %}

