{% block header %}

    <link rel="stylesheet" href="static/recipe_dtk_multi.css">

    <style>     
    
      /* .btn-group-xs > .btn, .btn-xs {
        padding: .25rem .4rem;
        font-size: .875rem;
        line-height: .5;
        border-radius: .2rem;
      } */
      body {
        font-size: 16px;
      }
      .rcp-title, .rcp-name, .rcp-desc, .rcp-igds-title, .rcp-makes, .rcp-method, .rcp-method-title, .rcp-steps {
        font-size: 16px;
      }
      table.rcp-tab-igds, table.rcp-steps {
        font-size: 16px;
      }
    </style>

{% endblock %}


{% block content %}

    {% include 'email_debug.html' %}
    

{% endblock %}