{% extends 'nav_buttons_thin.html' %}

{% block header %}
<link rel="stylesheet" href="{{ url_for( 'static', filename='gallery.css') }}">
<script>
    function submitForm(ri_id) {
        document.getElementById('form-' + ri_id).submit();
    }

    function toggleFavourite(userUUID, ri_id, imgElement){

        fetch( '/search', {
            method: 'POST',                                             // method (default is GET)
            headers: {'Content-Type': 'application/json' },             // JSON
            body: JSON.stringify( { 'user':userUUID,
                                    'toggle_favs': true,
                                    'rcpsShortList': [ri_id] } )      // Payload

        }).then( function(response) {
            return response.json();
        }).then( function(saveChecked_response) {    
            console.log('SCR----*---- FAV GAL - S');
            console.log("AHEM:", saveChecked_response);
            console.log('SCR----*---- FAV GAL - E');
            // Switch the image
            if (imgElement.src.includes('fav-heart-full.svg')) {
                imgElement.src = 'static/svg/fav-heart-holow.svg';
            } else {
                imgElement.src = 'static/svg/fav-heart-full.svg';
            }            
        })
    }
</script>
<!--<script src="https://use.fontawesome.com/releases/v5.7.0/js/all.js"></script>-->
{% endblock %}


{% block content %}

<h5>offline recipe gallery - add discard button</h5>

<div class="container-fluid padding">
    <div class="row padding">
        <div class="card-columns">
            {% for recipe_info in recipes %}
                <div class="card">
                    <div class="image-container">
                        <img class="card-img-top" src="static/recipe/{{recipe_info['lead_image']}}" onclick="submitForm({{ recipe_info['ri_id'] }})"></img>
                        <h5 class="rcp-rating">{{ recipe_info['user_rating']|round(1) }}</h5>
                        {% if recipe_info['ri_fav'] %}
                            <img class="card-img-top-fav" src="static/svg/fav-heart-full.svg" onclick="toggleFavourite('{{user_info['UUID']}}', {{ recipe_info['ri_id'] }}, this)">
                        {% else %}
                            <img class="card-img-top-fav" src="static/svg/fav-heart-holow.svg" onclick="toggleFavourite('{{user_info['UUID']}}', {{ recipe_info['ri_id'] }}, this)">
                        {% endif %}                  </div>
                    <div class="card-body">
                        <h6 class="card-title">{{ recipe_info['ri_name'] }}</h6>
                        <!-- <p class="card-text">{{ recipe_info['description'] }}</p> -->
                    </div>
                    <form id="form-{{ recipe_info['ri_id'] }}" action="/db_recipe_page" method="POST" style="display: none;">
                        <input type="hidden" name="gallery_button_{{ recipe_info['ri_id'] }}" value="{{ recipe_info['ri_id'] }}">
                    </form>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
