{% extends 'nav_buttons_thin.html' %}

{% block header %}
<link rel="stylesheet" href="{{ url_for( 'static', filename='gallery.css') }}">

<!--<script src="https://use.fontawesome.com/releases/v5.7.0/js/all.js"></script>-->
{% endblock %}


{% block content %}

<h5>offline recipe gallery - add discard button</h5>

<div class="container-fluid padding">
    <div class="row padding">
        <!--  -->
        <!-- <div class="card-columns"> -->        
        <!-- <div class="card-deck"> -->
        <!-- <div class="card-group"> good way to compare recipes? -->
        <div class="card-columns">
            <form action={{url_for('db_recipe_page')}} method='POST'>
                {% for recipe_info in recipes %}
                <!-- <div class="col-md-12"> </div>-->
                    <!-- <div class="card" style="width:180px"> -->
                    <div class="card">
                        <img class="card-img-top" src="http://192.168.0.8:8000/static/recipe/{{recipe_info['image_file']}}"></img>
                        <div class="card-body">
                            <h5 class="card-title">{{ recipe_info['ri_name'] }}</h5>
                            <p class="card-text">{{ recipe_info['description'] }}</p>
                            <!-- (recipe_info['user_rating']|int) user_rating is a float use a filter to covert to int -->
                            {% for stars in range((recipe_info['user_rating']|int)) %}
                            <i class="fa fa-star recip-star-up-rating"></i>
                            {% endfor %}
                            {% for stars in range(5 - (recipe_info['user_rating']|int)) %}
                            <i class="fa fa-star recip-star-down-rating"></i>
                            {% endfor %}
                            <button type='submit' name="gallery_button_{{ recipe_info['ri_id'] }}" value="{{ recipe_info['ri_id'] }}" class="btn btn-outline-secondary float-right">Show!</button>
                        </div>
                    </div>
                {% endfor %}
            </form>
        </div>
    </div>
</div>

{% endblock %}

