{% extends 'nav_buttons.html' %}
{% block header %}

<link rel="stylesheet" href="{{ url_for( 'static', filename='gallery.css') }}" >
<script>  </script>
<!--style>
    .container {
        background-color: black;
        display: flex;
        flex-wrap: wrap;
        justify-content: center
    }
    
    .container > div {
        background-color: black;
        font-size: 20px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: auto;
        margin-top: auto;
        padding:  3px;
        width:  280;
        align-content: center;
    }
</style-->
{% endblock %}

{% block content %}

<h2>boostrap - container wrap not working some CSS issue to fix!</h2>

<div class="container"> 
    {% for recipe in recipes %}        
    <div class="gallery_image"> <image src="http://192.168.0.8:8000/static/recipe/{{ recipe['image_file'] }}"> </div>
    {% endfor %}
</div>

{% endblock %}

