<!DOCTYPE html>
<html>

    <head>
        {% if doc_title %}
        <title>{{ doc_title }}</title>
        {% else %}
        <title>database_tests</title>
        {% endif %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
        <title>Picker Integration</title>
        <style>
            #bt_gallery, #bt_home, #bt_nutes {
                background-color: #8BCE51
            }
        </style>
        {% block header %}
        {% endblock%}

    </head>

    <body>

        <button id='bt_home'>
            <a href="{{url_for('hello_world')}}">HOME</a>
        </button>

        <button id='bt_gallery'>
            <a href="{{url_for('gallery')}}">GALLERY</a>
        </button>

        <button>
            <a href="{{url_for('button_1')}}">WITH INGREDIENT</a>
        </button>


        <button>
            <a href="{{url_for('button_2')}}">2 INGREDIENTS</a>
        </button>

        <button>
            <a href="{{url_for('button_3')}}">< 100cal / 100g</a>
        </button>
        <br>
        
        <button>
            <a href="{{url_for('button_4')}}">CREATE</a>
        </button>        

        <button>
            <a href="{{url_for('button_5')}}">Add Ingredients</a>
        </button>

        <button id='bt_nutes'>
            <a href="{{url_for('nutrients')}}">Nutrient Table</a>
        </button>


        <button>
            <a href="{{url_for('button_7')}}">RECIPE</a>
        </button>

        {% block content %}
        {% endblock %}

    </body>
</html>


