<!DOCTYPE html>
<html>

    <head>
        {% if app_title %}
        <title>{{ app_title }}</title>
        {% else %}
        <title>DTK-Dev</title>
        {% endif %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <!--<script src="https://use.fontawesome.com/releases/v5.7.0/js/all.js"></script>-->
        <script src='static/dtk_storage.js'></script>
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Picker Integration</title>
        <link rel="stylesheet" href="static/nav_buttons.css">
        {% block header %}
        {% endblock%}

    </head>

    <body>

        <button id='bt_gallery' class="nav-but">
            <a href="{{url_for('db_gallery')}}"><img src="static/png/dice-3.png" alt="tick" srcset="static/svg/dice-3.svg"></a>
        </button>

        <button id='bt_dtk' class="nav-but">
            <a href="{{url_for('track_items')}}"><img src="static/png/pencil.png" alt="tick" srcset="static/svg/pencil.svg"></a>
        </button>
        
        <button id='bt_home' class="nav-but">
            <a href="{{url_for('home_list_of_favourites')}}"><img src="static/png/heart.png" alt="tick" srcset="static/svg/heart.svg"></a>
        </button>

        <button id='bt_recipes_book' class="nav-but">
            <a href="{{url_for('db_recipe_list')}}"><img src="static/png/recipes-book.png" alt="tick" srcset="static/svg/recipes-book.svg"></a>
        </button>

        <button id='bt_search' class="nav-but">
            <a href="{{url_for('search_ingredient')}}"><img src="static/png/search.png" alt="tick" srcset="static/svg/search.svg"></a>
        </button>

        <button id='bt_db_snap' class="nav-but">
            <a href="{{url_for('diary_w_image_snap')}}"><img src="static/png/camera.png" alt="tick" srcset="static/svg/camera.svg"></a>            
        </button>
        
        <button id='bt_weigh_in' class="nav-but">
            <a href="{{url_for('weigh_in')}}"><img src="static/png/balance-scale.png" alt="tick" srcset="static/svg/balance-scale.svg"></a>
        </button>
        
        <button id='bt_settings' class="nav-but">
            <a href="{{url_for('settings')}}"><img src="static/png/cog.png" alt="tick" srcset="static/svg/cog.svg"></a>
        </button>

        <button id='bt_email_debug' class="nav-but">
            <a href="{{url_for('email_debug')}}"><img src="static/png/download.png" alt="tick" srcset="static/svg/download.svg"></a>
        </button>

        <button id='bt_inputs'>
            <a href="{{url_for('buttons_inputs')}}">BUTTONS</a>
        </button>

        <button>
            <a href="{{url_for('button_2')}}">2 INGREDIENTS</a>
        </button>

        <button>
            <a href="{{url_for('button_3')}}">< 100cal / 100g</a>
        </button>


        <button id='bt_nutes'>
            <a href="{{url_for('db_nutrients')}}">Nutrient Table</a>
        </button>

        <button id='bt_nutes_compare'>
            <a href="{{url_for('db_nutrients_compare')}}">NutriCompare Table</a>
        </button>

        <button id='bt_db_recipe'>
            <a href="{{url_for('db_recipe_page')}}">RECIPE</a>
        </button>

        <button>
            <a href="{{url_for('upload_image_test')}}">UPLOAD</a>
        </button>        


        {% block content %}
        {% endblock %}

    </body>
</html>


