<!DOCTYPE html>
<html lang="en">
<body>
  <script>      
    var info_t = {{ info|tojson }};       // convert info using tojson filter      
    console.log(`recipe_t JS ${info_t['ri_name']} - inline CONCLUDED`);  // sanity check      
  </script>

  <div class="container">
    <div id="nutri_taffic_table_main" class="card card-body">  
      <table class='nutri_taffic_table'>
          <tr>
              <td id='traffic_title' colspan="5">title text to fill in . . </td>
              <!-- Thresholds HERE: https://en.wikipedia.org/wiki/Traffic_light_rating_system -->
          </tr>
          <tr class='row_ttl'>
              <td class="t_lgt_en" id="t_energy_ttl">Energy</td>
              <td class="t_lgt_fa" id="t_fat_ttl">Fat</td>
              <td class="t_lgt_fs" id="t_saturates_ttl">Saturates</td>
              <td class="t_lgt_su" id="t_sugars_ttl">Sugars</td>
              <td class="t_lgt_sa" id="t_salt_ttl">Salt</td>
          </tr>
          <tr class='row_qty'>
              <td class="t_lgt_en" id="t_energy_qty">QTY</td>
              <td class="t_lgt_fa" id="t_fat_qty">QTY</td>
              <td class="t_lgt_fs" id="t_saturates_qty">QTY</td>
              <td class="t_lgt_su" id="t_sugars_qty">QTY</td>
              <td class="t_lgt_sa" id="t_salt_qty">QTY</td>
          </tr>
          <tr class='row_hml'>
              <td class="t_lgt_en" id="t_energy_hml">XX</td>
              <td class="t_lgt_fa" id="t_fat_hml">XX</td>
              <td class="t_lgt_fs" id="t_saturates_hml">XX</td>
              <td class="t_lgt_su" id="t_sugars_hml">XX</td>
              <td class="t_lgt_sa" id="t_salt_hml">XX</td>
          </tr>
          <tr class='row_ri'>
              <td class="t_lgt_en" id="t_energy_ri">YY%</td>
              <td class="t_lgt_fa" id="t_fat_ri">YY%</td>
              <td class="t_lgt_fs" id="t_saturates_ri">YY%</td>
              <td class="t_lgt_su" id="t_sugars_ri">YY%</td>
              <td class="t_lgt_sa" id="t_salt_ri">YY%</td>
          </tr>
      </table>
      <div class="btn-group"> <!-- https://www.w3schools.com/bootstrap/bootstrap_button_groups.asp -->
        <button id='b_update'>UPDATE</button>
      </div>
      <script src='static/nutrient_traffic_lights.js'></script>
    </div>
  </div>
</body>
</html>