  <script>      
    var recipes = {{ recipes|tojson }};       // convert info using tojson filter      
    console.log(`recipe_t JS ${recipes[0]['ri_name']} - inline CONCLUDED`);  // sanity check      
  </script>

  <div class="container">
    <div id="nutri_taffic_table_main" class="card card-body">  
      <table class='nutri_taffic_table'>
          <tr>
              <td id='traffic_title_0' colspan="5">title text to fill in . . </td>
              <!-- Thresholds HERE: https://en.wikipedia.org/wiki/Traffic_light_rating_system -->
          </tr>
          <tr class='row_ttl'>
              <td class="t_lgt_en_0" id="t_energy_ttl_0">Energy</td>
              <td class="t_lgt_fa_0" id="t_fat_ttl_0">Fat</td>
              <td class="t_lgt_fs_0" id="t_saturates_ttl_0">Saturates</td>
              <td class="t_lgt_su_0" id="t_sugars_ttl_0">Sugars</td>
              <td class="t_lgt_sa_0" id="t_salt_ttl_0">Salt</td>
          </tr>
          <tr class='row_qty'>
              <td class="t_lgt_en_0" id="t_energy_qty_0">QTY</td>
              <td class="t_lgt_fa_0" id="t_fat_qty_0">QTY</td>
              <td class="t_lgt_fs_0" id="t_saturates_qty_0">QTY</td>
              <td class="t_lgt_su_0" id="t_sugars_qty_0">QTY</td>
              <td class="t_lgt_sa_0" id="t_salt_qty_0">QTY</td>
          </tr>
          <tr class='row_hml'>
              <td class="t_lgt_en_0" id="t_energy_hml_0">XX</td>
              <td class="t_lgt_fa_0" id="t_fat_hml_0">XX</td>
              <td class="t_lgt_fs_0" id="t_saturates_hml_0">XX</td>
              <td class="t_lgt_su_0" id="t_sugars_hml_0">XX</td>
              <td class="t_lgt_sa_0" id="t_salt_hml_0">XX</td>
          </tr>
          <tr class='row_ri'>
              <td class="t_lgt_en_0" id="t_energy_ri_0">YY%</td>
              <td class="t_lgt_fa_0" id="t_fat_ri_0">YY%</td>
              <td class="t_lgt_fs_0" id="t_saturates_ri_0">YY%</td>
              <td class="t_lgt_su_0" id="t_sugars_ri_0">YY%</td>
              <td class="t_lgt_sa_0" id="t_salt_ri_0">YY%</td>
          </tr>
      </table>
      <div class="btn-group" id="nutri_table_btns"> <!-- https://www.w3schools.com/bootstrap/bootstrap_button_groups.asp -->
        <button id='b_update_0'>UPDATE</button>
      </div>
      <script src='static/nutrient_traffic_lights.js'></script>
    </div>
  </div><div class="container">