{% extends 'nav_buttons.html' %}


{% block header %}

  <title>recipe_search</title>
  <!--<script src="https://use.fontawesome.com/releases/v5.7.0/js/all.js"></script>-->  
  <link rel="stylesheet" href="{{ url_for( 'static', filename='recipe_search.css') }}">
  
  <!--<script src="https://use.fontawesome.com/releases/v5.7.0/js/all.js"></script>-->
  <script>          
    // move this into nav_bar? above dtk_store.js    and ^^ too? 
    //console.log(`weight_in_t.html JS dtk ${dtk['dtk_rcp']['ri_name']} - inline`);  // sanity check
    //console.log(dtk);  // sanity check
    //console.log(`weight_in_t.html - inline CONCLUDED`);  // sanity check
  </script>
  
{% endblock %}

{% block content %}
    
  {% include 'recipe_search_page.html' %}
  
    
  <!--REMOVE DEBUG-->
  <table id='debug-recipe-search-table'>
    <tbody>
    <td>S1</td>
    <td>S2</td>
    <td>S3</td>   
    </tbody>
  </table>
  <!--REMOVE DEBUG-->
  
{% endblock %}