{% block content %}
<div class="container-fluid padding">
	<div class="row padding">   
        
		<!-- if re-writing in JS . . ?
        rename so there is a root variable tha allows multiple recipe
        de-reference into the leaf? 
        -->
        <script>      
          var recipes = {{ recipes|tojson }};                       // convert info using tojson filter      
          console.log(`recipe_t JS ${recipes[0]['ri_name']} - inline CONCLUDED`);  // sanity check      
        </script>

		
        <div class="col-md-12">
            <div class="card">
                <img class="card-img-top" src="http://192.168.0.8:8000/static/recipe/{{recipes[0]['image_file']}}"></img>
                <div class="card-body">
                    <h2 class="card-title">{{ recipes[0]['ri_name'] }}</h2>
                    <p class="card-text">{{ recipes[0]['description'] }}</p>
                    <h3 class="card-title">Ingredients
                        <a href="#" class="btn btn-outline-secondary float-right">Contents..</a>
                    </h3>    
                    <table class="card-text">
                      {% for tuple in recipes[0]['ingredients'] %}
                      <tr>
                          <!--td>{{tuple[0]}}</td-->
                          <td>{{tuple[1]}}<a class="btn btn-sm btn-outline-secondary float-right" href="#" role="button">expand</a></td>
                          <td>{{tuple[2]}}<a class="btn btn-primary" href="#" role="button">expand</a></td>
                          <td>{{tuple[3]}}<a class="btn btn-xs btn-outline-secondary float-right" href="#" role="button">expand</a></td>
                      </tr>
                      {% endfor %}
                    </table>
                </div>
            </div>
            {% include 'nutrient_traffic_lights.html' %}
        </div>    
    </div>
</div>

<!--HACKING ABOUT-->

<div class="container-fluid padding">
	<div class="row padding">

        <div class="col-md-12">
            <div class="card">
                <img class="card-img-top" src="http://192.168.0.8:8000/static/recipe/{{recipes[0]['image_file']}}"></img>
                <div class="card-body">
                    <h2 class="card-title">{{ recipes[0]['ri_name'] }}</h2>
                    <p class="card-text">{{ recipes[0]['description'] }}</p>
                    <h3 class="card-title">Ingredients
                        <a href="#" class="btn btn-outline-secondary float-right">Contents..</a>
                    </h3>                                        
                    <table class="card-text">
                      {% for tuple in recipes[0]['ingredients'] %}
                      <tr>
                          <!--td>{{tuple[0]}}</td-->
                          <td>{{tuple[1]}}</td>
                          <td>{{tuple[2]}}</td>
                          <td>{{tuple[3]}}</td>
                      </tr>
                      {% endfor %}
                    </table>
                </div>
            </div>
            {% include 'nutrient_traffic_lights.html' %}
        </div>    

        <div class="col-md-6">
            <div class="card">
                <img class="card-img-top" src="http://192.168.0.8:8000/static/recipe/{{recipes[0]['image_file']}}"></img>
                <div class="card-body">
                    <h2 class="card-title">{{ recipes[0]['ri_name'] }}</h2>
                    <p class="card-text">{{ recipes[0]['description'] }}</p>
                    <a href="#" class="btn btn-outline-secondary">Contents..</a>
                    <h3 class="card-title">Ingredients</h3>    
                    <table class="card-text">
                      {% for tuple in recipes[0]['ingredients'] %}
                      <tr>
                          <!--td>{{tuple[0]}}</td-->
                          <td>{{tuple[1]}}</td>
                          <td>{{tuple[2]}}</td>
                          <td>{{tuple[3]}}</td>
                      </tr>
                      {% endfor %}
                    </table>
                </div>
            </div>
            {% include 'nutrient_traffic_lights.html' %}
        </div>    

	</div>
</div>



<div>
    <div class="container-fluid padding">
        <div class="row padding">            
            {% if recipe_image != '' %}
            <img id='recipe_image' class="img-fluid  w-100 h-100" src="http://192.168.0.8:8000/static/recipe/{{recipes[0]['image_file']}}">            
            {% else %}
            <img id='recipe_image' class="img-fluid w-100 h-100"  src="http://192.168.0.8:8000/static/recipe/awesome_sauce_landing_page_QR_code.png">
            {% endif %}
        </div>
    </div>
    
    <div class="container-fluid padding">
        <div class="row padding">
            <h2 style="text-align:center;">recipe 2 with a  {{ recipes[0]['ri_name'] }} really really long name</h2>
            <h2 style="text-align:center;">recipe 2 with a  {{ recipes[0]['ri_id'] }} really really long name</h2>
            <h2 style="text-align:center;">bla {{ recipes[0]['ri_name'] }} bla</h2>
        </div>
    </div>
</div>
{% endblock %}
