{% block content %}

<!--
TODO - change all files to this format _t for the 'super' tmeplate file
                                   and _page for the content 
-->
<div  id='recipe-search-input-row' class="container-fluid">
  
  <div class="input-group">
    
    <input id='recipe-search-1-inrow' class="form-control" type="text" placeholder='s1'>

    <input id='recipe-search-2-inrow' class="form-control" type="text" placeholder='s2'>
    
    <input id='recipe-search-3-inrow' class="form-control"type="text" placeholder='s3'>        
    
  </div>

</div>

<div class="container-fluid">
  <h4 id='page-display-title'>
    recipe search
    <button id='but-recipe-search' type="button" class="btn btn-outline-danger float-right">SEARCH</button>  
  </h4>
  
</div>

<br>
<!--<div id="recipe-search-chart" class="container container-fluid">
  <h6>chart</h6>
  <div >
    <img
        id="recipe-search-chart-svg"
        src='static/graph.svg'
        alt="chart"
        align="centre"        
    />
  </div>
</div>-->

<div id="rcp-gallery" class="container-fluid padding"></div>

<script src='static/recipe_search.js'></script>

{% endblock %}