{% block content %}

<div class="container-fluid">  
  <div id="search-filters"><h4 id='page-display-title'>recipe search..</h4><h4 id='results-count'>[]</h4></div>  
</div>


<div  id='recipe-search-input-row' class="container-fluid">
  
  <div class="input-group">

    <input id='recipe-search-2-inrow' class="form-control" type="text" placeholder='s2'>    
    
  </div>

</div>

<div id='recipe-search-button-row' class="container-fluid">
  <button id='but-recipe-search' type="button" class="btn btn-outline-danger float-right">SEARCH</button>
  <button id='but-check-all-lbl' type="button" class="btn btn-outline-primary float-left">✔︎ ALL LBL</button>
  <button id='but-check-all-fav' type="button" class="btn btn-outline-primary float-left">✔︎ ALL FAV</button>
  <button id='but-return-checked' type="button" class="btn btn-outline-success float-left">SAVE</button>
</div>

<div class="clearfix"></div>

<div id="rcp-gallery" class="container-fluid padding"></div>

{% endblock %}