{% extends 'nav_buttons_thin.html' %}
{% block header %}
<link rel="stylesheet" href="{{ url_for( 'static', filename='show_fav_rcp_cards.css') }}">
<!-- <link rel="stylesheet" href="{{ url_for( 'static', filename='show_fav_rcp_alt.css') }}"> -->
<script>          
  var favRecipes = {{ recipes|tojson }};
  console.log(`show_fav_rcp_cards.html JS favRecipes[${favRecipes.length}] - inline`);  // sanity check
  console.log(favRecipes[0]);
</script>
{% endblock %}

{% block content %}

<div id="type-save-dialogue">
  <div class="input-group">
    <input id='save-favs-label' class="form-control" type="text" placeholder='insert label . . .'>    
    <button id='but-save-favs' type="button" class="btn btn-outline-success float-right">SAVE AS TYPE</button>  
  </div>  
</div>

<div class="">
    {% for recipe in recipes %}

    <div class="recipe-card">

        <div class="image-container">
          <img src="https://asset.server:8080/static/recipe/{{ recipe['lead_image'] }}" value="{{ recipe['ri_id'] }}"> 
        </div>
      
        <div class="content">
          <h2 class="title">{{ recipe['ri_name'] }}</h2>
      
          <div class="info">
            {{ recipe['nutrinfo']['serving_size'] }}{{ recipe['nutrinfo']['units'] }}  <p style="display: inline;">{{ recipe['nutrinfo']['n_En'] }}kcal/100g</p> = {{ recipe['nutrinfo']['cals_p_srv'] }}kcals
            <!-- <p>{{ recipe['description'] }}</p> -->
          </div>
      
          <button class="close" value="{{ recipe['ri_id'] }}">X</button>
        </div>
      
      </div>    
    {% endfor %}
</div>

<script src='static/show_fav_rcp_cards.js'></script>

{% endblock %}