{% extends 'nav_buttons.html' %}
{% block header %}
<!--<link rel="stylesheet" href="{{ url_for( 'static', filename='gallery.css') }}">-->
{% endblock %}

{% block content %}

<div class="container">
    {% for recipe in recipes %}

    <p>{{ recipe['ri_id'] }} - {{ recipe['ri_name'] }} - {{ recipe['lead_image'] }}</p>
    <div class="gallery_image">

        <!-- <image src="https://asset.server:8080/static/recipe/{{ recipe['lead_image'] }}" width='100%'> -->
            <image src="static/recipe/{{ recipe['lead_image'] }}" width='100%'>
    </div>
    <br>
    {% endfor %}
</div>

{% endblock %}
