{% extends 'nav_buttons_thin.html' %}
{% block header %}
<head>
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>tracker</title>
  <script src="https://use.fontawesome.com/releases/v5.7.0/js/all.js"></script>
  <style>
    <!-- use for media 560-800px or less -->
    .list-group-item {          <!-- less space around text more on screen  -->
      padding: .25rem .25rem;
    }
    .list-group-item-sub-text{  <!-- buttons all on same row - needs work -->
      padding-left: 1.9rem;
      padding-right: 5.25rem;
      margin-bottom: -1.5rem;
    }
    .card-body {                <!-- scooch up towards top -->
        padding: 0.2rem;  
        padding-left: 0;
        padding-right: 0;  
    }    
    .container {                <!-- scooch up to sides of screen -->
        width: 100%;
        padding-right: 0px;
        padding-left: 0px;
        margin-right: 0;
        margin-left: 0;
    }
    .add_recipe {               <!-- button bg colour -->
      background: #b8db0d
    }
  </style>
</head>
{% endblock %}

{% block content %}

{% include 'nutrient_traffic_lights.html' %}

<body>
  <!--
  <header id="main-header" class="bg-success text-white p-4 mb-3">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
            <h4 id="header-title">search ingredients & recipes</h4>
        </div>
        <div class="col-md-6 align-self-center">
            <input type="text" class="form-control" id="filter" placeholder="Search Items...">
        </div>
      </div>
    </div>
  </header>
  -->

  <div class="container">
   <div id="main" class="card card-body">    
    <form id="addForm" class="form-inline mb-3">
      <input type="text" placeholder="just had a..." class="form-control mr-2" id="item">
      <input type="submit" class="btn btn-dark" value="Submit">
    </form>
    <h4 class="title">today:</h4>
    <ul id="items" class="list-group">
      <li class="list-group-item"><button class="btn btn-danger btn-sm float-left delete">X</button><div class="list-group-item-sub-text">0700 120g watermelon</div><button class="btn btn-default btn-sm float-right add_recipe">Rcp</button><button class="btn btn-secondary btn-sm float-right snapshot"><i class="fas fa-camera"></i></button></li>
      <li class="list-group-item"><button class="btn btn-danger btn-sm float-left delete">X</button><div class="list-group-item-sub-text">---- 30g sweetheart cabbage noodle broth</div><button class="btn btn-default btn-sm float-right add_recipe">Rcp</button><button class="btn btn-secondary btn-sm float-right snapshot"><i class="fas fa-camera"></i></button></li>
      <li class="list-group-item"><button class="btn btn-danger btn-sm float-left delete">X</button><div class="list-group-item-sub-text">---- 30g smoked ham</div><button class="btn btn-default btn-sm float-right add_recipe">Rcp</button><button class="btn btn-secondary btn-sm float-right snapshot"><i class="fas fa-camera"></i></button></li>
      <li class="list-group-item"><button class="btn btn-danger btn-sm float-left delete">X</button><div class="list-group-item-sub-text">0734 180m coffee</div><button class="btn btn-default btn-sm float-right add_recipe">Rcp</button><button class="btn btn-secondary btn-sm float-right snapshot"><i class="fas fa-camera"></i></button></li>
      <li class="list-group-item"><button class="btn btn-danger btn-sm float-left delete">X</button><div class="list-group-item-sub-text">1105 80g carrots</div><button class="btn btn-default btn-sm float-right add_recipe">Rcp</button><button class="btn btn-secondary btn-sm float-right snapshot"><i class="fas fa-camera"></i></button></li>
      <li class="list-group-item"><button class="btn btn-danger btn-sm float-left delete">X</button><div class="list-group-item-sub-text">---- 15g		mini chocolate mousse</div><button class="btn btn-default btn-sm float-right add_recipe">Rcp</button><button class="btn btn-secondary btn-sm float-right snapshot"><i class="fas fa-camera"></i></button></li>
      <li class="list-group-item"><button class="btn btn-danger btn-sm float-left delete">X</button><div class="list-group-item-sub-text">1130 180m coffee</div><button class="btn btn-default btn-sm float-right add_recipe">Rcp</button><button class="btn btn-secondary btn-sm float-right snapshot"><i class="fas fa-camera"></i></button></li>

      <!--
      <li class="list-group-item"><div class="list-group-item-sub-text">80g carrots</div><button class="btn btn-danger btn-sm float-left delete">X</button><button class="btn btn-default btn-sm float-right add_recipe">Rcp</button><button class="btn btn-secondary btn-sm float-right snapshot"><i class="fas fa-camera"></i></button></li>
      <li class="list-group-item">Item 1 <button class="btn btn-success btn-sm float-right delete">Recipe</button><button class="btn btn-danger btn-sm float-right delete">X</button></li>
      <li class="list-group-item">Item 2 <button class="btn btn-secondary btn-sm float-right delete">Recipe<button class="btn btn-danger btn-sm float-right delete">X</button></li>
      <li class="list-group-item">Item 3 <button class="btn btn-warning btn-sm float-right delete">X</button></li>
      <li class="list-group-item">Item 4 <button class="btn btn-danger btn-sm float-right delete">X</button></li>
      -->
    </ul>
   </div>
  </div>

  <script src="static/track_items.js"></script>
  
</body>
    
{% endblock %}



