{% block content %}

<!--
TODO - change all files to this format _t for the 'super' tmeplate file
                                   and _page for the content 
-->
<div  id='weigh-in-input-row' class="container-fluid">
  
  <div class="input-group">
    
    <input id='weigh-in-weight-inrow' class="form-control" type="text" placeholder='weight'>

    <input id='weigh-in-pc-fat-inrow' class="form-control" type="text" placeholder='fat %'>
    
    <input id='weigh-in-pc-water-inrow' class="form-control"type="text" placeholder='water %'>        
    
  </div>

</div>

<div class="container-fluid">
  <h4 id='page-display-title'>
    daily weigh in
    <button id='but-weigh-in-record' type="button" class="btn btn-outline-danger float-right">RECORD</button>  
  </h4>
  
</div>

<div id="dtkChart_js">
  <h6>weigh in chart</h6>

</div>

<script type="module" src='static/weigh_in.js'></script>

{% endblock %}