{% extends 'nav_buttons_thin.html' %}

{% block header %}

  <title>weigh_in_page</title>
  <!--<script src="https://use.fontawesome.com/releases/v5.7.0/js/all.js"></script>-->  

  <script>      
    var dtk = {{ daily_tracker|tojson }};
    // move this into nav_bar? above dtk_store.js    
    //console.log(`weight_in_t.html JS dtk ${dtk['dtk_rcp']['ri_name']} - inline`);  // sanity check
    //console.log(dtk);  // sanity check
    //console.log(`weight_in_t.html - inline CONCLUDED`);  // sanity check
  </script>
  
  <link rel="stylesheet" type="text/css" href="static/weigh_in.css"/>  

{% endblock %}

{% block content %}
    
  {% include 'weigh_in_page.html' %}
  
    
  <!--REMOVE DEBUG-->
  <table id='debug-weigh-in-table'>
    <tbody>
    <td>weight: {{daily_tracker['dtk_weight']}}</td>
    <td>fat: {{daily_tracker['dtk_pc_fat']}}</td>
    <td>water: {{daily_tracker['dtk_pc_h2o']}}</td>   
    </tbody>
  </table>
  <!--REMOVE DEBUG-->
  
{% endblock %}